{:deps {com.wsscode/pathom3 {:mvn/version "2025.01.16-alpha"}
        com.wsscode/pathom3-graphql {:mvn/version "2022.09.12-alpha"}
        http-kit/http-kit         {:mvn/version "2.8.0"}
        babashka/process {:mvn/version "0.5.22"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        djblue/portal {:mvn/version "0.58.5"}
        com.github.gnl/playback {:mvn/version "0.5.4"}
        io.github.joakimen/fzf.clj {:git/url "git@github.com:sheluchin/fzf.clj.git"
                                    :git/sha "20ae3149ef4a3da88ee5a39f8de2ac7775aa0403"}}
 :paths ["src"]}
